/*

    COLORS AND VARIABLES

*/

:root{
    --background: #FEFEFE;
    --border-color: #ECECEC;
    --heading-color: #1E1E1E;
    --subheading-color: #5E5E5E;
    --text-color: #2E2E2E;
    --help-text-color: #8E8E8E;
    --disabled-text-color: #C6C6C6;
    --shadow-color: #1e1e1e06;
    --yellow: #FFCC00;
}

/*

    GLOBAL STYLES

*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.04em;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
    
    /* border: 1px solid red; */
}

/*

    MAIN STYLES

*/

body {
    /*
    
        Фон из точек (каждые 25px) и крестиков (каждые 100px)
    
    */
    background-color: var(--background);
    background-image:
        /* Паттерн крестиков через SVG */
        url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Cg%20stroke='%23000'%20stroke-opacity='0.05'%20stroke-width='2'%20stroke-linecap='square'%20fill='none'%3E%3Cline%20x1='6'%20y1='0'%20x2='6'%20y2='12'/%3E%3Cline%20x1='0'%20y1='6'%20x2='12'%20y2='6'/%3E%3C/g%3E%3C/svg%3E"),
        /* Точки */
        radial-gradient(circle at 0 0, rgba(0,0,0,0.1) 2px, rgba(0,0,0,0) 3px);
    background-size: 100px 100px, 25px 25px;
    /* Смещение SVG крестиков чтобы всё начиналось с нулевых координат и всё было отцентрированно */
    background-position: -6px -6px, 0 0;
    background-repeat: repeat, repeat;

    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    width: 720px; height: 720px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: inherit;
  color: inherit;
}


.heading{ color: var(--heading-color); font-size: 1rem; }
.subheading{ color: var(--subheading-color); }

.split{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; width: 100%;
    gap: 1.5rem;
}
.split span.separator{
    display: inline-block;
    align-self: center;
    height: 50%;
    width: 1px;
    margin: 0.5rem 0;
    background-color: var(--border-color);
}


section{
    background-color: var(--background);
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 5px 15px 1px var(--shadow-color);
}
section[aria-disabled="true"] .heading{
    color: var(--disabled-text-color);
}
section[aria-disabled="true"] p{
    color: var(--disabled-text-color);
}

section .heading{
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
}
section p{
    font-size: 0.9rem;
    color: var(--text-color);
    letter-spacing: 0;
    text-wrap-style: pretty;
    word-wrap: break-word;
}
section p:not(:first-child){
    margin-top: 0.4rem;
}

a.section-link{
    display: inline-flex;
    justify-content: end;
    width: 100%;
    font-size: 0.7rem;
    padding: 1rem;
    padding-right: 0;
    text-decoration: none;
    color: var(--help-text-color);
    transition: color 0.2s linear;
}
a.section-link::after{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    
    font-family: 'Material Symbols Rounded';
    content: "arrow_forward";
    margin-left: 0.5rem;
    transition: margin-left 0.2s linear;
}
a.section-link:hover{ color: var(--text-color); transition: color 0.2s linear; }
a.section-link:hover::after{ margin-left: 0.7rem; transition: margin-left 0.2s linear; }


.badge{
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    font-size: 12px;
    color: var(--help-text-color);
    background-color: var(--background);
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.badge.icon-badge .material-symbols-rounded{
    margin-right: 5px;
    font-size: 18px;
}
.version-badge{
    position: fixed;
    bottom: 1.5rem; right: 1.5rem;
    border-radius: 999rem;
    box-shadow: 0 5px 15px 1px var(--shadow-color);
}
.version-badge pre{
    font-weight: 600;
    font-size: inherit;
}

.tooltip{
    all: inherit;
    display: inline;
    text-decoration: underline dotted 2px var(--disabled-text-color);
    text-underline-offset: 5px;
    text-decoration-skip-ink: none;
    cursor: pointer;
    transition: text-decoration-color 0.3s ease-in;
    position: relative;
}
.tooltip:hover{
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease-out;
}
.tooltip > .tooltip-content{
    display: inline-flex;
    position: absolute;
    bottom: 125%; left: 50%;
    transform: translateX(-50%) scale(0) translateY(100%);
    width: 450px;
    height: auto;
    font-size: 0.9rem;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 9999999;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.3s;
    transition: visibility 0.3s ease-in, opacity 0.3s ease-in, transform 0.3s ease-in;
}
.tooltip:hover > .tooltip-content{
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) scale(1) translateY(0);
    transition-delay: 0.2s;
    transition: visibility 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
}
.tooltip > .tooltip-content::after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 100%; left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 9999999;
    
    border-top: 5px solid var(--disabled-text-color);
}
.tooltip > .tooltip-content::before{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    
    content: 'info';
    display: flex;
    height: 100%;
    padding: 0.5rem;
    font-size: 1.25rem;
    color: var(--disabled-text-color);
}

.btn{
    all: unset;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
}
.btn:not(:disabled){
    cursor: pointer;
}

.btn.icon-btn{
    width: 50px; height: 50px;
    display: flex;
    justify-content: center; align-items: center;
}
.btn.icon-btn > *{
    width: 25px; height: 25px;
}

img{
    image-rendering: smooth;
}


/*

    HERO SECTION

*/

.hero{
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column; justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.hero p.subheader{
    font-size: 16px;
}
.hero .nickname{
    display: inline-block;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    /* Поправляем внутренние вертикальные отступы из-за шрифта (убираем cap у шрифта) */
    text-box: trim-both cap alphabetic;
}
.hero .nickname > span{ letter-spacing: -0.11em; font-size: inherit; font-weight: inherit; }

.hero .photos-container{
    display: flex;
    flex-direction: row;
    transform: translateY(-15%);
}
.hero .photos-container .img-wrapper{
    aspect-ratio: 1 / 1;
    width: 110px; height: 110px;
    border-radius: 25px; overflow: hidden;
    border: var(--background) 3px solid;
}
.hero .photos-container .img-wrapper:not(:first-child){ margin-left: -10px; }
.hero .photos-container .img-wrapper:nth-child(odd){ transform: rotate(-5deg); }
.hero .photos-container .img-wrapper:nth-child(even){ transform: rotate(5deg) translateY(20px); }

.hero .photos-container .img-wrapper img{
    width: 100%; height: 100%;
    object-fit: cover;
}

/*

    ABOUT SECTION

*/

.about{
    grid-column: 1 / 6;
    grid-row: 4 / 7;
    position: relative;
    height: 100%;
    width: 100%;
}
.about .heading{
    font-size: 24px;
}

.emoji-bubble{
    position: absolute;
    top: 0; left: 0;
    transform: translate(-50%, -50%);
    width: 50px; height: 50px;
    border-radius: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center; align-items: center;

    /* Скопирован стиль section */
    background-color: var(--background);
    border: 1px solid var(--border-color);
    box-shadow: 0 5px 15px 1px var(--shadow-color);
}
.map-wrapper{
    display: flex;
    flex-grow: 1;
    max-height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--border-color);
}
.map-wrapper > *{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*

    CONTACTS SECTION

*/

.contacts{
    grid-column: 1 / 4;
    grid-row: 7 / 9;
}

.contacts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

/*

    COMING SOON SECTION

*/

.coming-soon{
    grid-column: 4 / 6;
    grid-row: 7 / 9;
    position: relative;
    overflow: hidden;
}

.coming-soon::after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0; left: 0;
    width: 100px; height: 20px;
    background: repeating-linear-gradient(45deg, var(--heading-color) 0px, var(--heading-color) 20px, var(--yellow) 20px, var(--yellow) 40px);
    transform: translate(-15%, -25%) rotate(30deg);
}
.coming-soon::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0; right: 0;
    width: 135px; height: 20px;
    background: repeating-linear-gradient(45deg, var(--heading-color) 0px, var(--heading-color) 20px, var(--yellow) 20px, var(--yellow) 40px);
    transform: translate(35%, -65%) rotate(-60deg);
}



/*

    RESPONSIVE STYLES

*/
@media (max-width: 960px) {
    body{ height: auto; }
    main{
        display: flex;
        width: 85vw;
        height: 100%;
        padding-bottom: 25px;
        flex-direction: column;
    }
    section, .split{ flex-direction: column; }
    .split{ gap: 0; }
    .separator{ display: none; }
    .version-badge{ /*top: 25px; right: 25px; bottom: unset;*/ display: none; }

    .hero{
        padding: 25px;
        width: 100%;
    }
    .hero .subheading{ font-size: 0.75rem; }
    .hero .nickname{ font-size: 3.5rem; }
    .hero .photos-container{
        width: 100%;
        justify-content: center;
        transform: translateY(-25%);
    }
    .hero .photos-container .img-wrapper{ width: 80px; height: 80px; }

    .contacts-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}